<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta charset="utf-8">
    <title>Vue.js 06</title>
  </head>
  <body>
    <div id="app">
      <template v-if="ok">
        <h1>Title</h1>
        <p>Paragraph 1</p>
        <p>Paragraph 2</p>
      </template>

      <div v-if="Math.random() > 0.5">
        Now you see me
      </div>
      <div v-else>
        Now you don't
      </div>

      <h1 v-show="ok">Hello!</h1>
    </div>

    <script src="index.js"></script>
  </body>
</html>
